.App {
  text-align: center;
  background-color: #1e483d;
  min-height: 100vh;

  
}

.App-link {
  color: #61dafb;
}

.App-Logo {
  transform: scale(0.5);
  margin-bottom:-75px;
}

.TextColor {
  color: white;
}


